*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Database
database

daemon

### App ###
client/vendor
